/* .title {
  background-color: red;
} */
.about-text::first-letter{
  font-size: 1.5rem;
  font-weight: normal;
}
/* .about-text {
  font-size: 1.3rem;
} */
.goals{
    list-style-type: circle;
}
.avatar-thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .avatar{
    width: 200px;
} */
.position{
  font-size: 0.9rem;
  color: rgba(43,86,4,255);
  font-weight: bolder;
}