.footer {
  background-color: rgb(0, 8, 19);
  text-align: center;
  min-height: 50%;
  padding: 50px;
  white-space: nowrap;
}
.footer-brand-logo {
  width: 10px;
}
.footer-brand-text {
  font-size: 30px;
  text-decoration: none;
}
.footer-text {
  display: inline-block;
  text-align: center;
}

.footer-links, .categories, .opendays {
  text-align: left;
  color: rgb(255, 255, 255);
  list-style-type: none;
}
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
.comment {
  display: flex;
  justify-content: center;
}
.footer-tag {
  padding: 10px;
  color: rgb(58, 58, 58);
}
.bottomBorder {
  border-bottom: 0.5px solid rgb(58, 58, 58);
  margin: 20px;
}
.footer-icons {
  font-size: 30px;
}
#facebook {
  color: rgb(66, 103, 178);
}

#instagram{
  color: rgb(91, 91, 91);
}

#linkedin {
  color: #0077b5;
}
#twitter {
  color: rgb(29, 161, 242);
}
#whatsapp {
  color: #25d366;
}
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-icons-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-icons-parent a{
    text-decoration: none;
    color: transparent;
}
  .footer-icons {
   margin: 20px;
  }
.commentBox {
  width: 500px;
}
.logo-small{
    display: none;
    visibility: hidden;
}
.brandlogo-parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.right-protection-parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.commentBox{
  background-color: transparent;
  color: white;
}
@media screen and (min-width: 450px) and (max-width: 700px) {
  .commentBox {
    width: 350px;
  }
}
@media screen and (max-width: 450px) {
  .commentBox {
    width: 200px;
  }
  .footer-icons {
   margin: 0 10px;
  }
  .logo-big{
    display: none;
    visibility: hidden;
}
.logo-small{
    display: inline-block;
    visibility: visible;
}

}
