.tip-heading{
    color: rgba(43,86,4,255);
    text-align: center
}
.tip-title{
    border-bottom: 1px solid rgb(218, 218, 218);
    padding: 10px 0px;
}
.date-stamp{
    font-size: 12px;
    padding: 0;
        margin: 0;
        text-align: right;
    }
    /* .time-stamp{
        font-size: 12px;
        margin: 0;
        padding: 0;
        text-align: right;
        font-weight: bold;
} */
.bold{
    font-weight: bold;
}
.tip-footer{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.rounded{
    border-radius: 4rem;
}