.c-navbar-color{
    background-color: rgba(255, 255, 255,0.4)
}
.c-link-color{
    color: rgba(43,86,4,255);
}
.links{
    color: rgba(43,86,4,255) !important;
    font-weight: bold;
    margin-left: 10px;
}
.c-brand-text,.c-brand-text:hover,.c-brand-text:visited,.c-brand-text:active{
    text-decoration: none;
    color: rgba(43,86,4,255);
    font-weight:bolder;
    display: inline-block;
    margin-left: 5px;
}

@media screen and (max-width:450px){
    .c-brand-text{
        font-size: 10px;
    }
}