.login-page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* width: 30%; */
    /* margin: auto; */
    /* background-color: rgb(255, 255, 255);
    padding: 30px;
    box-shadow: 0 2px 8px 0 rgb(231, 231, 231), 0 2px 8px 0 rgb(161, 161, 161); */
    /* border-radius: -10px; */
}

.login-caption{
    color: rgba(43,86,4,255);
    text-align: center;
    margin: 30px 0px;
}
*:focus{
    outline-width: 0 !important;
    outline: none !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#login-btn{
        background-color: rgba(43,86,4,255);
        border: none;
        outline: hidden;
}
.eye{
      position: absolute;
  right: 30px;
  top: 63%;
  z-index: 9999;
}
.eyeIcon{
    cursor: pointer;
    font-size: 15px;
    color: rgba(43,86,4,255);
}