.prev-footer{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    background-color: white;
}
.bold{
    font-weight: bold;
}
.date-stamp{
    font-size: 12px;
    padding: 0;
        margin: 0;
        text-align: right;
    }